# Clangd configuration file
# See https://clangd.llvm.org/config for more information.

# Apply config conditionally (e.g. only for specific files)
# If:
#   PathMatch: .*\.h

CompileFlags:
  CompilationDatabase: /home/joao/vscode/my_imgui/Project_sdl3_vulkan
  # Add flags to the compile command
  Add:
   - -I/code
    - -I/code/ui
    - -I/code/main
    - -I/code/rendering
    - -I/code/ui/window/widgets
    - -I/code/ui/window/persistence
    - -I/code/ui/media/preview_ui
    - -I/code/ui/media/image
    - -I/code/ui/media/image/dialog
    - -I/code/ui/media/video/player
    - -I/code/ui/media/video/downloader
    - -I/code/ui/media/video/video_preview
    - -I/code/ui/config
    - -I/code/rendering
    - -I/code/rendering/vulkan
    - -I/home/joao/vscode/my_imgui/External/Imgui-Viewports
    - -Wall
    - -Wunused-variable
    - -Winfinite-recursion
    - -Warray-bounds
    - -Wreturn-stack-address
    - -Werror=implicit-function-declaration
    - -Wshadow
    - -Wshadow-field-in-constructor-modified
    - -Wshadow-ivar
    - -Wuninitialized
    - -Wunused-label
    - -Wunused-lambda-capture

# Press Ctrl+Space to bring up completion suggestions
Index:
  StandardLibrary: true

Hover:
  ShowAKA: true
  MacroContentsLimit: 2048

InlayHints:
  BlockEnd: false
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  DefaultArguments: true
  TypeNameLimit: 24

Documentation:
  CommentFormat: Doxygen
