# Build output
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# Generated settings/state
/imgui.ini
/window_state.toml
/compile_commands.json

# vcpkg local installation cache
/vcpkg_installed/

# CMake/cache dirs
/.cache/
/.cmake/
/cache/

# Editor/OS
.vscode/
.idea/
.DS_Store

# Generic binaries
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.out
external/*
node_modules/*
FLAME.svg
package-lock.json
package.json
perf.data
perf.data.old
perf.data.perfparser
todo.txt
Abandoned Asylum/*
out/*
example_sdl3_vulkan_release
example_sdl3_vulkan_RELWITHDEBINFO
