[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/joao/vscode/my_imgui/Project_sdl3_vulkan/build/release/example_sdl3_vulkan_release
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Link release
Name=Link release
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
